/resistor-color-duo/node_modules/
/resistor-color-trio/node_modules/
/leap/node_modules/
/.idea/
/*/node_modules/
/*/.exercism
/*/HELP.md
/*/babel.config.cjs
/*/jest.config.cjs
/*/tsconfig.json
/*/.eslintrc.cjs
/*/.eslintignore
/*/yarn.lock
/*/yarn-error.log
